# [true | false] (default: false)
# lombok.equalsAndHashCode.doNotUseGetters = true
# [call | skip | warn] (default: warn)
# lombok.equalsAndHashCode.callSuper = call
# [warning | error] (default: not set)
# lombok.equalsAndHashCode.flagUsage = error

# [warning | error] (default: not set)
# lombok.data.flagUsage = error

# [warning | error] (default: not set)
# lombok.value.flagUsage = error

# [warning | error] (default: not set)
# lombok.builder.flagUsage = error

# [true | false] (default: false)
# lombok.singular.useGuava = false

# [true | false] (default: true)
# lombok.singular.auto = true